  html, body {
      height: 100%;
      margin: 0;
    }

div.flexbox {
  display: flex;
  justify-content: center;
}

.flexbox {
   /* styling for testing */
  background-color: cyan;
}

.typed-panel {
  width: 100vh; 
  height: 100vh;
  background-color: #E6FF00;
   z-index: 1;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.typed-panel svg { 
  display: none;
  width: 100%;
  height: 100%;
}

nav { 
  width: 50vw;
  height: 100vh;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
}

.left-button-panel {
  
  left: 0;

  /* styling for testing */
  background-color: olive;
}

.right-button-panel {
  right: 0;

/* styling for testing */
  background-color: teal;
}

.button {
 
  height: 50%;

  /* to override button defaults: */
  padding: 0;
  margin: 0;
  font: inherit;

/* styling for testing */
 border: 5px solid orange;
  background-color: royalblue;
  outline: 3px solid lime;

}

.button:hover {
  cursor: pointer;
  background-color: mediumblue;
}

.button:active, .button.selected {
  background-color: midnightblue;
}



.handwriting-layer {
  z-index: 2;
  position: relative;
  width: 100vh;

/* styling for testing */
  border: 1px solid tomato;
}

.handwriting-layer svg {
  width: 100vh;
  height: auto;
}

