@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&display=swap'); /* Backup if link fails */

html, body {
  margin: 0;
  background-color: snow;
}

div.flexbox {
  display: flex;
  justify-content: center;
  background-color: transparent; /* No grey behind the white panel */
}

.typed-wrapper {
  position: relative;
  height: 100vh;
  overflow: hidden;

}

.typed-panel {

  display: none;  /* Starts invisible */

  z-index: 1;
  min-height: 95vh;

  inset: 0; 

}

.button-panel button:nth-child(1):hover {
  background: lime !important;
}

.typed-panel p {
  font-family: 'EB Garamond', serif;
  margin: 0 0 1.2em 0; /* Small gap between stanzas */
  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  text-align: center;
  padding: 10px; /* Lighter per stanza */
  box-sizing: border-box;
  font-size: 7vw;
  line-height: 1.1;
}


p {
  /*testing*/
  background-color: coral;
}

.button-panel { 
  z-index: 3;
  width: 100vw;
  position: fixed;
  left: 0;
  bottom: 0;

  display: grid;
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr 1fr;  
  gap: 10px; 
  padding: 0 10px;
  box-sizing: border-box;


  /*testing*/
  background-color: teal;
  border: solid 1px red;
}

.button {
  height: 60px; /* Fits nicely in 80px nav with padding */
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
  color: white; /* Visible text */
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
  
  /* styling for testing */
  border: 1px solid rgba(140, 130, 110, 0.2);
  background-color: limegreen;
}

.button:hover {
  cursor: pointer;
  /* styling for testing */
  background-color: olivedrab;
}

.button:active, .button.selected {
  background-color: olive;
}

.handwriting-layer {
  position: fixed;
  inset: 0;
  z-index: 2;
  
  width: 100vw;
  height: 100vh; /* or calc(100vh - 80px) to account for nav */
  
  overflow-y: scroll;
  overflow-x: hidden; 
  box-sizing: border-box;
  }


.handwriting-layer object {
  display: block;
    /* styling for testing */
  border: 1px solid red;

}

