@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&display=swap'); /* Backup if link fails */

html, body {
  background-color: whitesmoke;
}

div.flexbox {
  display: flex;
  justify-content: center;
  background-color: transparent; /* No grey behind the white panel */
}

.typed-wrapper {
	position: relative;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 90vh;
}

.typed-panel {
  z-index: 1;
  min-height: 95vh;

  inset: 0; 

}


.typed-panel p {
  font-family: 'EB Garamond', serif;
  margin: 0 0 1.2em 0; /* Small gap between stanzas */

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  text-align: center;
  padding: 10px; /* Lighter per stanza */
  box-sizing: border-box;
  font-size: 7vw;
  line-height: 1.1;
}


p {
  /*testing*/
	border: 2px solid coral;
}

.button-panel { 
  z-index: 3;
  width: 100vw;
  position: fixed;
  left: 0;
  bottom: 5vh;

  display: grid;
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr 1fr;  
  gap: 10px; 
  padding: 0 10px;
  box-sizing: border-box;


  /*testing*/
  border: solid 1px red;
}

.button {
  height: 60px; 
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;

  /* color styling ..can be for testing */
  border: 2px solid black;
  background-color: #FAF4E5;
}

.button:hover {
  cursor: pointer;
  /* styling for testing */
  background-color: #f7eacc;
}

.button:active, .button.selected {
  background-color: #c5bdb8;
}

.handwriting-layer {
  position: fixed;
  inset: 0;
  z-index: 2;
  
  width: 100vw;  
  overflow-y: scroll;
  overflow-x: hidden; 
  box-sizing: border-box;
  }


.handwriting-layer object {
  display: block;  
    /* styling for testing */
  border: 3px dotted red;
  

}

